body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1510300101842-d7a2ed0bde3b%3Fcrop%3Dentropy%26cs%3Dtinysrgb%26fit%3Dmax%26fm%3Djpg%26ixid%3DMXwxMjA3fDB8MXxhbGx8fHx8fHx8fA%26ixlib%3Drb-1.2.1%26q%3D80%26w%3D1080);
  background-color: #dfbda9;
  background-repeat: no-repeat;
  /*background-size: 1920px 800px;*/
  background-size: cover;
  background-position: center;
  font-size: large;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
